@import '../../variables.scss';

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    height: 29px;
    color: $text-neutral;
    padding-right: 16px;
    &_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        span {
            font-weight: 900;
            color: $text-neutral;
        }
    }
    &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
    }
    &_list {
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
        list-style: none;
        padding: 0;
    }
    &_item {
        cursor: pointer;
        color: $text-regular;
        span {
            color: $text-bold;
        }
    }
    &_lang {
        list-style: none;
        position: relative;
        padding: 0;
        top: 25px;
        &::after {
            content: "";
            cursor: pointer;
            display: inline-block;
            position: absolute;
            width: 5px;
            height: 5px;
            transition: all 0.5s ease-out;
            border-right: solid 2px $text-regular;
            border-bottom: solid 2px $text-regular;
            transform: translate(10px, 10px) rotate(45deg);
            right: -5px;
            top: 0px;
        }
        &_item {
            cursor: pointer;
            color: $text-regular;
            margin-top: 5px;
        }
    }
}

.active {
    color: $text-neutral;
}

.hide {
    opacity: 0%;
    transition: all 0.3s ease-out;
}
.active-bar {
    opacity: 100%;
    transition: all 0.3s ease-out;
}
.menu_lang.active-lang {
    &::after {
        transform: translate(10px, 13px) rotate(-135deg);
    }
}

a {
    text-decoration: none;
    color: $text-regular;
}